.Navbar {
  width: 100%;
  height: 80px;
  position: sticky;
  top: 0;
  display: flex;
  margin-top: 1%;
  /* border: 1px solid red; */
  font-family: 'Poppins', sans-serif;
  z-index: 1;
  background-color: white;
  justify-content: space-between;
  /* margin-left: 3%; */
}

.logo {
  /* border: 1px solid red; */
  width: 10%;
}

.logo > img {
  width: 100%;
}

nav {
  position: sticky;
  top: 0;
  width: 45%;
  height: 50px;
  display: flex;
  margin-left: 3%;
  align-items: center;
  color: black;
  font-size: 15px;
  z-index: 1;
  margin-right: 30%;
  /* border: 1px solid red; */
}

.nav-button {
  background-color: #b79b54;
  width: 100px; 
  height: 30px; 
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  margin-top: 15%;
  margin-right: 5%;
  /* border: 1px solid red; */
  font-size: 14px; 
}


.link {
  width: 23%;
  font-size: 1.3em;
  font-weight: 400;
  color: black;
  text-decoration: none;
  transition: color 0.3s;
  /* border: 1px solid red; */

}

.link:hover {
  /* background-color: #b79b54; */
  border-bottom: 2px solid #b79b54;
  color: black;
  
}

nav span {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  /* background: linear-gradient(#c08de4, #471795); */
  border-radius: 12px;
  width: 0;
  transition: left 0.3s, width 0.3s;
}







/* Media query for medium screens */
@media (max-width: 800px) {
  .Navbar {
    flex-direction: column;
    align-items: center;
  }

  .logo {
    /* border: 1px solid red; */
    width: 15%;
  }
  
  .logo > img {
    width: 100%;
  }

  nav {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    justify-content: center;
  }

  .nav-button {
    margin-top: 10px;
    margin-right: 0;
  }
}

/* Media query for small screens */
@media (max-width: 500px) {
  .Navbar {
    height: auto;
  }

  .logo {
    /* border: 1px solid red; */
    width: 30%;
  }
  
  .logo > img {
    width: 100%;
  }

  nav {
    height: auto;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .nav-button {
    margin-top: 10px;
    margin-right: 0;
  }
}