.heading{
    width: 90%;
    margin: auto;
    font-size: 3em;
    /* border: 1px solid red; */
    font-family: 'Poppins', sans-serif;
    text-align: left;
    margin-top: 1%;
}

.heading span{
    /* border: 1px solid red; */
    font-size: 1.2em;
    color: #b79b54;

}

.drag-container{
    touch-action: none;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: #111;
    -webkit-perspective: 1000px;
    perspective: 1000px;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.drag-container, .spin-container{
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: auto;
    -webkit-transform: rotateX(-10deg);
    transform: rotate(-10deg);
}


.drag-container img{   
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    line-height: 200px;
    font-size: 50px;
    text-align: center;
    -webkit-box-shadow: 0 0 8px #fff;
    box-shadow: 0 0 8px #fff;
    -webkit-box-reflect: below 10px linear-gradient(transparent, transparent, #0005);
}


.drag-container img:hover {
    -webkit-box-shadow: 0 0 15px #fffd;
            box-shadow: 0 0 15px #fffd;
    -webkit-box-reflect: below 10px linear-gradient(transparent, transparent, #0007);
  }


  /* .drag-container p {
    font-family: Serif;
    position: absolute;
    top: 100%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%) rotateX(90deg);
            transform: translate(-50%,-50%) rotateX(90deg);
    color: #fff;
  } */


  #ground {
    width: 900px;
    height: 900px;
    position: absolute;
    top: 100%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%) rotateX(90deg);
    transform: translate(-50%,-50%) rotateX(90deg);
    background: -webkit-radial-gradient(center center, farthest-side , #9993, transparent);
  }

  @-webkit-keyframes spin {
    from{
      -webkit-transform: rotateY(0deg);
              transform: rotateY(0deg);
    } to{
      -webkit-transform: rotateY(360deg);
              transform: rotateY(360deg);
    }
  }
  
  @keyframes spin {
    from{
      -webkit-transform: rotateY(0deg);
              transform: rotateY(0deg);
    } to{
      -webkit-transform: rotateY(360deg);
              transform: rotateY(360deg);
    }
  }
  @-webkit-keyframes spinRevert {
    from{
      -webkit-transform: rotateY(360deg);
              transform: rotateY(360deg);
    } to{
      -webkit-transform: rotateY(0deg);
              transform: rotateY(0deg);
    }
  }
  @keyframes spinRevert {
    from{
      -webkit-transform: rotateY(360deg);
              transform: rotateY(360deg);
    } to{
      -webkit-transform: rotateY(0deg);
              transform: rotateY(0deg);
    }
  }







.doneText{
    /* border: 1px solid red; */
    display: flex;
    width: 90%;
    margin: auto;
    font-size: 1.3em;
    margin-top: 2px;
}


.TrendingArt{
    /* border: 1px solid red; */
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.TrendingArt img {
    width:100%;
    height: 400px;
    margin: auto;
}

.ExploreButton{
    width: 15%;
    margin-top: 3%;
    padding: 10px;
    font-size: 1.4em;
    background-color: #b79b54;
    border: none;
    color: white;

}

.MarlyInstrument{
    background-color: #f5f1ee;
    width: 90%;
    margin: auto;
    padding-bottom: 1%;
}

.MarlyInstrument > h2{
    padding-top: 2%;
    color: #494848;
}


.MarlyImg{
    width: 90%;
    margin: auto;
    /* border: 1px solid red; */
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
    padding-top: 1%;
}


.MarlyImg img{
    width: 90%;
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.DiscoverBtn{
    width: 15%;
    margin-top: 3%;
    padding: 10px;
    font-size: 1.4em;
    background-color: #b79b54;
    border: none;
    color: white;

}