*{
  font-family: 'Poppins', sans-serif;
}


.heading{
    width: 90%;
    margin: auto;
    font-size: 2em;
    /* border: 1px solid red; */
    font-family: 'Poppins', sans-serif;
    text-align: left;
    margin-top: 1%;
}

.heading span{
    /* border: 1px solid red; */
    font-size: 1.1em;
    color: #b79b54;

}




.carousel-container{
  width: 80%;
  height: 100%;
  overflow: hidden;
  margin: auto;
  /* border: 1px solid red; */

}

.images-container{
  width: 500%;
  height: 100%;
  display: flex;
  flex-direction: row;
  padding: 2%;
  /* border: 1px solid red; */
}


.images-container > .image{
  width: 10%;
  height: 100%;
  transition: all 1s ease;
  /* border: 1px solid red; */
  padding: 10px;
  margin-left: 2%;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.images-container > .image > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}






.doneText{
    /* border: 1px solid red; */
    display: flex;
    width: 90%;
    margin: auto;
    font-size: 1.3em;
    margin-top: 2px;
}


.TrendingArt{
    /* border: 1px solid red; */
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.TrendingArt img {
    width:100%;
    /* height: 400px; */
    margin: auto;
}

.ExploreButton{
    width: 15%;
    margin-top: 3%;
    padding: 10px;
    font-size: 1.4em;
    background-color: #b79b54;
    border: none;
    color: white;

}

.MarlyInstrument{
    background-color: #f5f1ee;
    width: 90%;
    margin: auto;
    padding-bottom: 1%;
}

.MarlyInstrument > h2{
    padding-top: 2%;
    color: #494848;
}


.MarlyImg{
    width: 90%;
    margin: auto;
    /* border: 1px solid red; */
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
    padding-top: 1%;
}


.MarlyImg img{
    width: 90%;
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.DiscoverBtn{
    width: 15%;
    margin-top: 3%;
    padding: 10px;
    font-size: 1.4em;
    background-color: #b79b54;
    border: none;
    color: white;

}


.desc{
  font-size: 3em;
}

.DesignNew{
  width: 90%;
  /* border: 1px solid red; */
  display: grid;
  grid-template-columns:repeat(2, 1fr);
  margin: auto;
  gap: 10px;
  margin-top: 2%;
  /* text-align: left; */
}


.DesignNew div{
  width: 80%;
 margin: auto;
  /* border: 1px solid red; */

}

.DesignNew div img{
  width: 80%;
 align-items: center;
}

.TrendingArtText{
  /* border: 1px solid red; */
  font-size: 40px;
  
}

.DesignNew div h3{
  text-align: center;
}


@media only screen and (max-width: 820px){

  
.heading{
  width: 90%;
  margin: auto;
  font-size: 2em;
  /* border: 1px solid red; */
  font-family: 'Poppins', sans-serif;
  text-align: left;
  margin-top: 1%;
  margin: auto;
}

.heading span{
  /* border: 1px solid red; */
  display: none;

}




.carousel-container{
width: 80%;
height: 100%;
overflow: hidden;
margin: auto;
/* border: 1px solid red; */

}

.images-container{
width: 500%;
height: 100%;
display: flex;
flex-direction: row;
padding: 2%;
/* border: 1px solid red; */
}

.TrendingArt{
  /* border: 1px solid red; */
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}


.images-container > .image{
width: 10%;
height: 100%;
transition: all 1s ease;
/* border: 1px solid red; */
padding: 10px;
margin-left: 2%;
box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.images-container > .image > img {
width: 100%;
height: 100%;
object-fit: cover;
}






.doneText{
  /* border: 1px solid red; */
  display: flex;
  width: 90%;
  margin: auto;
  font-size: 1.3em;
  margin-top: 2px;
}


.TrendingArt{
  /* border: 1px solid red; */
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 10px;
}

.TrendingArt img {
  width:100%;
  /* height: 400px; */
  margin: auto;
}

.ExploreButton{
  width: 15%;
  margin-top: 3%;
  padding: 10px;
  font-size: 1.4em;
  background-color: #b79b54;
  border: none;
  color: white;

}

.MarlyInstrument{
  background-color: #f5f1ee;
  width: 90%;
  margin: auto;
  padding-bottom: 1%;
}

.MarlyInstrument > h2{
  padding-top: 2%;
  color: #494848;
}


.MarlyImg{
  width: 90%;
  margin: auto;
  /* border: 1px solid red; */
  display: grid;
  grid-template-columns: repeat(1,1fr);
  gap: 10px;
  padding-top: 1%;
}


.MarlyImg img{
  width: 90%;
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.DiscoverBtn{
  width: 15%;
  margin-top: 3%;
  padding: 10px;
  font-size: 1.4em;
  background-color: #b79b54;
  border: none;
  color: white;

}


.desc{
font-size: 3em;
}

.DesignNew{
width: 90%;
/* border: 1px solid red; */
display: grid;
grid-template-columns:repeat(1, 1fr);
margin: auto;
gap: 10px;
margin-top: 2%;
/* text-align: left; */
}


.DesignNew div{
width: 80%;
margin: auto;
/* border: 1px solid red; */

}

.DesignNew div img{
width: 80%;
align-items: center;
}

.DesignNew div h3{
text-align: center;
}

.TrendingArtText{
  /* border: 1px solid red; */
  font-size: 30px;
  
}


}




@media only screen and (max-width: 500px) {

  
.heading{
  width: 90%;
  margin: auto;
  font-size:20px;
  /* border: 1px solid red; */
  font-family: 'Poppins', sans-serif;
  text-align: left;
  margin-top: 1%;
  margin: auto;
}

.heading span{
  /* border: 1px solid red; */
  display: none;

}




.carousel-container{
width: 80%;
height: 100%;
overflow: hidden;
margin: auto;
/* border: 1px solid red; */

}

.images-container{
width: 500%;
height: 100%;
display: flex;
flex-direction: row;
padding: 2%;
/* border: 1px solid red; */
}

.TrendingArtText{
  /* border: 1px solid red; */
  font-size: 20px;
  
}


.images-container > .image{
width: 10%;
height: 100%;
transition: all 1s ease;
/* border: 1px solid red; */
padding: 10px;
margin-left: 2%;
box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.images-container > .image > img {
width: 100%;
height: 100%;
object-fit: cover;
}






.doneText{
  /* border: 1px solid red; */
  display: flex;
  width: 90%;
  margin: auto;
  font-size: 1.3em;
  margin-top: 2px;
}


.TrendingArt{
  /* border: 1px solid red; */
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 10px;
}

.TrendingArt img {
  width:100%;
  /* height: 400px; */
  margin: auto;
  /* border: 1px solid red; */
}

.ExploreButton{
  width: 35%;
  margin-top: 3%;
  padding: 10px;
  font-size:  20px;
  background-color: #b79b54;
  border: none;
  color: white;
  /* border: 1px solid red; */

}

.MarlyInstrument{
  background-color: #f5f1ee;
  width: 90%;
  margin: auto;
  padding-bottom: 1%;
}

.MarlyInstrument > h2{
  padding-top: 2%;
  color: #494848;
}


.MarlyImg{
  width: 90%;
  margin: auto;
  /* border: 1px solid red; */
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 10px;
  padding-top: 1%;
}


.MarlyImg img{
  width: 90%;
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.DiscoverBtn{
  width: 38%;
  margin-top: 3%;
  padding: 10px;
  font-size: 1.4em;
  background-color: #b79b54;
  border: none;
  color: white;

}


.desc{
font-size: 30px;
}

.DesignNew{
width: 90%;
/* border: 1px solid red; */
display: grid;
grid-template-columns:repeat(1, 1fr);
margin: auto;
gap: 10px;
margin-top: 2%;
/* text-align: left; */
}


.DesignNew div{
width: 80%;
margin: auto;
/* border: 1px solid red; */

}

.DesignNew div img{
width: 80%;
align-items: center;
}

.DesignNew div h3{
text-align: center;
}


}